@font-face {
    font-family: 'Capture_it';
    src: url('Capture_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Garogier';
    src: url('Garogier-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}
body {
    background-image: url(https://ju-nmd2022.github.io/wuid-portfolio-Lucas-NMD/ep_naturalblack.png);
    background-size: auto;
    color: rgb(102, 0, 255);
    font-family: "Garogier";
    
}
.profile-image {
    float: center;
    position: relative;
    margin-left: 40%;}

h1, h2, h3, h4, h5, h6 {
    color: #102ec4;
    background-image: url(https://ju-nmd2022.github.io/wuid-portfolio-Lucas-NMD/herringbone.png);
    text-align: center;
    font-family: "Capture-it";
}
p {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 75px;
    margin-left: 40px;
  }
nav {
    display: flex;
    top: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    gap: 10px;
}

a:visited {
    color: white;
}