
html {
    height: 100%;
}
body {
    background-image: url(https://ju-nmd2022.github.io/wuid-portfolio-Lucas-NMD/ep_naturalblack.png);
    background-size: auto;
    color: hsl(265, 17%, 86%);
    font-family: "Garogier";
    font-size: larger;
}
.profile-image {
    float: center;
    position: relative;
    margin-left: 40%;}

h1, h2, h3, h4, h5, h6 {
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-family: "Capture_it";
    font-size: xx-large;
}
h1 {
    font-size: 3em;
}

p {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 75px;
    margin-left: 40px;
  }
nav {
    display: flex;
    position: absolute;
    top: 0%;
    left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    gap: 10px;
}
button {
    background-color: transparent;
}

a:visited {
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: "Capture_it";
    src: url(https://ju-nmd2022.github.io/wuid-portfolio-Lucas-NMD/Capture_it-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Garogier";
    src: url(https://ju-nmd2022.github.io/wuid-portfolio-Lucas-NMD/Garogier-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
