* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html {
    height: 100%;
}
body {
    background-image: url(https://ju-nmd2022.github.io/wuid-portfolio-Lucas-NMD/gravel.png);
}

h1 {
    text-align: center;
}
.cards {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    justify-content: center; 
}

img {
    border-radius: 10%;
}


.project1 {
    position: relative;
    float: left;
}
.hidden-text1 {
    opacity: 0;
    position:absolute;
    color: rgb(255, 0, 255);
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    bottom: 40%;
    left: 18%;
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.75);
}

img:hover {
    opacity: 10%;
}
.project1:hover .hidden-text1{
opacity: 1;
}

.hidden-text2 {
    justify-items: center;
    opacity: 0;
    position:absolute;
    left: 42%;
    top: 30%;
    color: magenta;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.75);
}

.hidden-text3 {
    opacity: 0;
    position:absolute;
    bottom: 65%;
    left: 70%;
    color: magenta;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.75);
}

.hidden-text4 {
    opacity: 0;
    position:absolute;
    left: 12%;
    bottom: 32%;
    color: magenta;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.75);
}

.hidden-text5 {
    opacity: 0;
    position:absolute;
    left: 40%;
    bottom: 32%;
    color: magenta;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.75);
}

.project2:hover .hidden-text2{
    opacity: 1;
    }
    
.project3:hover .hidden-text3{
    opacity: 1;
    }

.project4:hover .hidden-text4{
    opacity: 1;
    }
    
.project5:hover .hidden-text5{
    opacity: 1;
    }

nav {
    display: flex;
    justify-content: space-around;
}

.figma-link {
    float: right;
    right: 20%;
}
.table {
    display: flex;
    position: relative;
    justify-content: center;
    top: 20%;
}

h1, h2, h3, h4, h5, h6 {
    color: #102ec4;
    text-align: center;
}
