* {
    font-family: "Garogier";
}
body {
    background-image: url(https://ju-nmd2022.github.io/wuid-portfolio-Lucas-NMD/gravel.png);
    padding: 0;
    text-align: center;
    margin: 20px;
}

h1 {
    text-align: center;
}
.cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-column: span 1;
    grid-auto-flow: dense;
}
.item {
    width: 100%;
    height: 100%;
    position: relative;
}
.item .image{
    width:100%;
    height:100%;
    overflow:hidden;
}
.item .image img {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
    cursor:pointer;
    transition:.5s ease-in-out;
}
.item .text {
    opacity:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:magenta;
    font-size:32px;
    font-weight: bold;
    pointer-events:none;
    z-index:4;
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.75);
    object-fit: cover;
    cursor: pointer;
}
.item:hover .image img {
    transform: scale(1.5);
}
.project:hover .text {
    opacity: 1;
    padding: 1em;
    transition: .4s ease-in-out;
    ov
}

nav {
    display: flex;
    align-content: space-around;
    justify-content: flex-end;
    top: 0%;
    left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    gap: 10px;
}
button {
    background-color: transparent;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    color: white;
}    
button:hover {
    color: aqua;
}
    
a {
    color: aliceblue;
    text-decoration: none;
}
    
a:visited {
    color: white;
    text-decoration: none;
}
    
.figma-link {
    float: right;
    right: 20%;
}
.table {
    display: flex;
    position: relative;
    justify-content: center;
    top: 20%;
}

h1, h2, h3, h4, h5, h6 {
    color: #102ec4;
    text-align: center;
    font-family: "Capture_it";
}
@font-face {
    font-family: "Capture_it";
    src: url(https://ju-nmd2022.github.io/wuid-portfolio-Lucas-NMD/Capture_it-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Garogier";
    src: url(https://ju-nmd2022.github.io/wuid-portfolio-Lucas-NMD/Garogier-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
