
body {
    background-image: url(/gravel.png);
}

h1 {
    text-align: center;
}
.cards {
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px)); 
}

img {
    border-radius: 10%;
}